footer
    h1 BlissLabs.
    .organization-info
        span.text-bold A 501(c3) non-profit
        span Lorem ipsum dolor sit amet.
        span.link.highlight contact@bliss.org

    .organization
        .organization-links
            span.text-bold.head USEFUL LINKS
            span.link.highlight Open Collective
            span.link.highlight Github
        .organization-socials
            span.text-bold.head JOIN US ON

            .icon-container
                a.link
                    i.bi.bi-instagram
                a.link
                    i.bi.bi-twitter
                a.link
                    i.bi.bi-discord
                a.link
                    i.bi.bi-youtube