footer
    h1 BlissLabs.
    .organization-info
        span.text-bold A 501(c3) non-profit
        span Stay Blissful.
        a.link.highlight(href="contact@bliss@.org") contact@bliss.org

    .organization
        .organization-links
            span.text-bold.head USEFUL LINKS

            a.link.highlight(href="https://opencollective.com/blisslabs", target="_blank") Open Collective
            a.link.highlight(href="https://github.com/BlissLabs", target="_blank") Github
            
        .organization-socials
            span.text-bold.head JOIN US ON

            .icon-container
                a.link(href="https://t.me/Team_Bliss_Community", target="_blank", aria-label="Telegram")
                    i.bi.bi-telegram
                a.link(href="https://discord.gg/wwc4Aua4fp", target="_blank", aria-label="Discord")
                    i.bi.bi-discord
                a.link(href="https://www.instagram.com/blissroms", target="_blank", aria-label="Instagram")
                    i.bi.bi-instagram
                a.link(href="https://twitter.com/stayblissful", target="_blank", aria-label="Twitter")
                    i.bi.bi-twitter