header
    nav
        a.link#nav-bar-logo(data-page="index", data-link="", aria-label="Navigate to Home")
            include ../partials/inline-logo
        a.link(data-page="index", data-link="#highlighted-projects", tabindex=0, aria-label="Anchor to Projects") Projects
        a.link(data-page="index", data-link="#expenses",  tabindex=0, aria-label="Anchor to Expenses") Expenses
        a.link(data-page="index", data-link="#mission",  tabindex=0, aria-label="Anchor to Mission") Mission
        a.link.highlight(data-page="team", data-link="", tabindex=0, aria-label="Anchor to Volunteer") Team
        a.donate(href="https://opencollective.com/blisslabs", tabindex=0, target="_blank", aria-label="Donate") Donate

        div#expand-menu.link(aria-label="Toggle Naviation Menu")
            i.bi.bi-list

    .full-screen-nav
        a.link(data-page="index", data-link="#highlighted-projects", aria-label="Navigate to Volunteer")
            h3.spaced-header PROJECTS
        a.link(data-page="index", data-link="#expenses", aria-label="Navigate to Expenses")
            h3.spaced-header EXPENSES
        a.link(data-page="index", data-link="#mission", aria-label="Navigate to Mission")
            h3.spaced-header MISSION
        a.link(data-page="team", data-link="", aria-label="Navigate to Team")
            h3.spaced-header TEAM
        a.link.donate(href="https://opencollective.com/blisslabs", target="_blank", aria-label="Navigate to Volunteer")
            h3.spaced-header DONATE