header
    nav
        ul#nav-bar-logo
            include ../partials/inline-logo
        ul.link
            a Projects
        ul.link
            a Expenses
        ul.link
            a About
        ul.link
            a.highlight Volunteer
        
        div#expand-menu.link
            i.bi.bi-list


    .full-screen-nav
        ul.link
            a PROJECTS
        ul.link
            a EXPENSES
        ul.link
            a ABOUT
        ul.link
            a VOLUNTEER