header
    nav
        #nav-bar-logo
            include ../partials/inline-logo
        a.link(href="#highlighted-projects", aria-label="Anchor to Projects") Projects
        a.link(href="#mission", aria-label="Anchor to Mission") Mission
        a.link.highlight(href="#volunteer", aria-label="Anchor to Volunteer") Volunteer
        
        div#expand-menu.link(aria-label="Toggle Naviation Menu")
            i.bi.bi-list

    .full-screen-nav
        a.link(data-link="#highlighted-projects", aria-label="Navigate to Volunteer")
            h3.spaced-header PROJECTS
        a.link(data-link="#mission", aria-label="Navigate to Mission")
            h3.spaced-header MISSION
        a.link(data-link="#volunteer", aria-label="Navigate to Volunteer")
            h3.spaced-header VOLUNTEER