header
    nav
        #nav-bar-logo
            include ../partials/inline-logo
        a.link Projects
        a.link Expenses
        a.link About
        a.link.highlight Volunteer
        
        div#expand-menu.link
            i.bi.bi-list

    .full-screen-nav
        .link
            h3.spaced-header PROJECTS
        .link
            h3.spaced-header EXPENSES
        .link
            h3.spaced-header ABOUT
        .link
            h3.spaced-header VOLUNTEER