header
    nav
        ul#nav-bar-logo
            include ../partials/inline-logo
        ul.link
            a Projects
        ul.link
            a Expenses
        ul.link
            a About
        ul.link
            a.highlight Volunteer
        
        div#expand-menu.link
            i.bi.bi-list

    .full-screen-nav
        ul.link
            h3.spaced-header PROJECTS
        ul.link
            h3.spaced-header EXPENSES
        ul.link
            h3.spaced-header ABOUT
        ul.link
            h3.spaced-header VOLUNTEER