.vertical-flex {
    display: flex;
    flex-direction: column;
}

.horizontal-flex {
    display: flex;
    flex-direction: row;
}

.center-main {
    justify-content: center;
}

.center-cross {
    align-items: center;
}

.support-height {
    height: 100svh;
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-transform {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fill-width {
    width: 100%;
}

.fill-height {
    height: 100%;
}

.fill-viewport {
    .support-height;
    width: 100vw;
}