// || FLEX
.vertical-flex {
    display: flex;
    flex-direction: column;
}

.horizontal-flex {
    display: flex;
    flex-direction: row;
}
.center-main {
    justify-content: center;
}

.center-cross {
    align-items: center;
}

.center-flex {
    display: flex;
    .center-main;
    .center-cross;
}


// || GENERAL
.center-transform {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// || GEOMETRY

.support-height {
    height: 100svh;
}

.fill-width {
    width: 100%;
}

.fill-height {
    height: 100%;
}

.fill-viewport {
    .support-height;
    width: 100vw;
}

// || TEXT
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

