doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title BlissLabs
    //- Styles
    link(href="./assets/css/styles.css", rel="stylesheet")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css", rel="stylesheet")
  body
    block layout
    //- Scripts
    script(src="/assets/js/index.js")
    //
        ______________________
      < mooo, i mean, hellooo  >
        ----------------------
              \   ^__^ 
                \ (oo)\_______
                  (__)\       )\/\\
                      ||----w |
                      ||     ||