.header-holder

    .links
        p TWITTER
        p DISCORD
        p TELGRAM

        i.bi.bi-twitter
        i.bi.bi-discord
        i.bi.bi-telegram


    .brand
        include ../partials/inline-logo
        h1 BlissLabs

    .separator-medium#for-header 
