.header-holder

    .background
        .spot
        .spot-2

    .header-links
        a(href="https://t.me/Team_Bliss_Community", target="_blank", aria-label="Telegram")
            span TELEGRAM
            i.bi.bi-telegram
        a(href="https://discord.gg/wwc4Aua4fp", target="_blank", aria-label="Discord")
            span DISCORD
            i.bi.bi-discord
        a(href="https://twitter.com/stayblissful", target="_blank", aria-label="Twitter")
            span TWITTER
            i.bi.bi-twitter

    .brand
        include ../partials/inline-logo
        h1 BlissLabs
        .slogan-container
            .slogan-scroller
                span(data-extra="We are a volunteer run 501(c3) non-profit organization, that helps open-source projects worldwide") We Are A Non-Profit
                span(data-extra="We act as a hub for global inclusiveness in all aspects of development. Giving those that need, access to infrastructure support, and fiscal growth opportunities") We Are A Global Fiscal Host
                span(data-extra="We share a vision with the projects we help, and through this, we assist them in their success") We Help Open-Source Projects
                span(data-extra="We help our projects build lasting communities that will continue to grow and thrive in the future") We Help Build Communities
        .slogan-tooltip
            p


    .separator-medium#for-header 
