.header-holder

    .links
        p TWITTER
        p DISCORD
        p TELGRAM

        i.bi.bi-twitter
        i.bi.bi-discord
        i.bi.bi-telegram


    .brand
        img(src="https://blisslabs.org/assets/images/Lotus_white.png")
        h1 BlissLabs