.mission-holder

    section
        h1.text-center WHAT WE DO
        p.text-center Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie, quam quis sagittis condimentum, nibh arcu efficitur massa, non semper libero diam eget metus. Mauris lorem dolor, vulputate et scelerisque vitae, malesuada vel felis. Integer convallis egestas nulla, at mollis ipsum luctus vel. Duis porttitor odio id diam pharetra interdum. Nunc vel dapibus eros, vitae dignissim massa. Sed consequat eget elit nec imperdiet. Donec feugiat rhoncus purus laoreet imperdiet.

    section

        h1.text-right HOW WE DO IT
        p.text-right Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie, quam quis sagittis condimentum, nibh arcu efficitur massa, non semper libero diam eget metus. Mauris lorem dolor, vulputate et scelerisque vitae, malesuada vel felis. Integer convallis egestas nulla, at mollis ipsum luctus vel. Duis porttitor odio id diam pharetra interdum. Nunc vel dapibus eros, vitae dignissim massa. Sed consequat eget elit nec imperdiet. Donec feugiat rhoncus purus laoreet imperdiet.
    
    .backdrop-logo
        include ../partials/inline-logo

.closing-card