//- LOCAL MIXIN
mixin extraProjectCard(imageUrl, name, github, website)
    section
        .extra-project-card
            .information
                img(src=`${imageUrl}`)
                span #{name}
                a.link(href=`${github}`, target="_blank")
                    i.bi.bi-github
                a.link(href=`${website}`, target="_blank")
                    i.bi.bi-globe

section
    .mission-holder.head

        section
            h3.spaced-header.text-center WE ARE A NON-PROFIT

    .mission-holder

        section
            h1.spaced-header.text-left WHAT WE DO
            p.text-left Blisslabs is a non profit organization that has a goal to help create and maintain various open source operating systems and other software that helps to extend the life of devices in order to help futher community innovation and help with the world's e-waste problems. 

        section

            h1.spaced-header.text-right HOW WE DO IT
            p.text-right We work to create projects, mentor and teach future open source developer's in all aspects of development, design, and animation and form alliances with other projects that share in our visions. We also develop tools to help minimize the complex development process and aid in learning. We also act as a global fiscal host for open source projects, allowing for a much larger opportunity to work with others globally and increase user base.
        
        .backdrop-logo
            include ../partials/inline-logo


    .bottom-card
        p BLISS FAMILY

        .scroller-layout
            .arrow-container
                .arrow#extra-project-left
                    i.bi.bi-arrow-left
                .space
                .arrow#extra-project-right
                    i.bi.bi-arrow-right
            .extra-projects-container#extra-project-container

                +extraProjectCard("https://internal.blisslabs.org/storage/6/61ca78df1b27d_SG_Asset_2.png", "SupremeGamers","https://google.com","https://google.com" )
                +extraProjectCard("https://internal.blisslabs.org/storage/2/61ca77196da33_android-generic.png", "AndroidGeneric","https://google.com","https://google.com" )
                +extraProjectCard("https://internal.blisslabs.org/storage/5/61ca7893cf9b5_boringdroid.png", "BoringDroid","https://google.com","https://google.com" )
                +extraProjectCard("https://internal.blisslabs.org/storage/5/61ca7893cf9b5_boringdroid.png", "BoringDroid","https://google.com","https://google.com" )
                +extraProjectCard("https://internal.blisslabs.org/storage/5/61ca7893cf9b5_boringdroid.png", "BoringDroid","https://google.com","https://google.com" )
                +extraProjectCard("https://internal.blisslabs.org/storage/5/61ca7893cf9b5_boringdroid.png", "BoringDroid","https://google.com","https://google.com" )
                +extraProjectCard("https://internal.blisslabs.org/storage/5/61ca7893cf9b5_boringdroid.png", "BoringDroid","https://google.com","https://google.com" )
