.separator-medium
    
.contribute#community
    
    section.contribute_outreach
        h3.spaced-header.text-right OUTREACH
        .description-group
            p.text-right Many people across the globe have limited access to development technology, making it hard to learn how to develop Android or Linux based projects. In order to help fill that need, we provide access to team build-servers and we partner with Legacy-Server in order to provide build-server access when resources are available, and help reach the dreams of those that aren't able to access all the needed tools.
        a.text-icon-link(href="https://legacyserver.in/", target="_blank")
            | Check build servers
            i.bi.bi-arrow-right

    section
        h3.spaced-header.text-center BRING YOUR PROJECT TO THE CROWD
        .description-group
            p.text-center Got a great open-source project, but having trouble getting things off the ground? Or maybe you are looking to gain a few more people to help you out on it. Whatever your situation is, you can submit your project below to start the review process and join under BlissLabs.
            a(href="https://goo.gl/kAb7ti", target="_blank").highlight.text-center.text-link Submit your project now