.vertical-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.horizontal-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.center-main {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.center-cross {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.center-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.center-transform {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.support-height {
  height: 100svh;
}
.fill-width {
  width: 100%;
}
.fill-height {
  height: 100%;
}
.fill-viewport {
  height: 100svh;
  width: 100vw;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
p,
i {
  color: white;
}
.button {
  background-color: white;
  position: relative;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}
.button:hover,
.button:focus {
  background-color: #e6e6e6;
}
.button:active {
  background-color: #cccccc;
}
.button:focus-visible {
  border: solid 4px #0080FF;
}
.button p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: black;
  font-size: 1em;
}
.text-bold {
  font-weight: 600;
}
.separator-medium {
  width: 40%;
  height: 8px;
  border-radius: 8px;
  background: white;
}
.space-medium {
  height: 24px;
  widtH: 24px;
}
.gap-1 {
  gap: 8px;
}
.gap-2 {
  gap: 16px;
}
.gap-3 {
  gap: 32px;
}
.gap-4 {
  gap: 48px;
}
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100svh;
  width: 100vw;
}
.background {
  height: 100svh;
  width: 100vw;
  background: #06101B;
  position: absolute;
  overflow: hidden;
}
.spot {
  position: absolute;
  background: -o-radial-gradient(center, circle, #0080FF, #005cb7 20%, transparent 60%);
  background: radial-gradient(circle at center, #0080FF, #005cb7 20%, transparent 60%);
  height: calc(800px + 50vw);
  width: calc(800px + 50vw);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 120%;
  left: 10%;
}
.spot-2 {
  position: absolute;
  height: calc(1000px + 50vw);
  width: calc(1000px + 50vw);
  top: calc(-30% + 10vh);
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0%;
  background: -o-radial-gradient(center, circle, #0080FF, rgba(0, 92, 183, 0.7) 20%, transparent 60%);
  background: radial-gradient(circle at center, #0080FF, rgba(0, 92, 183, 0.7) 20%, transparent 60%);
  -webkit-animation: spot-2-default-shift 1.5s ease-in-out forwards;
  animation: spot-2-default-shift 1.5s ease-in-out forwards;
}
.spot-2-state {
  -webkit-animation: spot-2-color-shift 1.5s ease-in-out forwards;
  animation: spot-2-color-shift 1.5s ease-in-out forwards;
}
.spot-2-state-remove {
  background: -o-radial-gradient(center, circle, #06919c, transparent 60%);
  background: radial-gradient(circle at center, #06919c, transparent 60%);
  -webkit-animation: spot-2-color-shift-remove 1.5s ease-in-out forwards;
  animation: spot-2-color-shift-remove 1.5s ease-in-out forwards;
}
/* => Default state = Intro */
@-webkit-keyframes spot-2-default-shift {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes spot-2-default-shift {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@-webkit-keyframes spot-2-color-shift {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
    background: radial-gradient(circle at center, #06919c, transparent 60%);
  }
}
@keyframes spot-2-color-shift {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
    background: -o-radial-gradient(center, circle, #06919c, transparent 60%);
    background: radial-gradient(circle at center, #06919c, transparent 60%);
  }
}
@-webkit-keyframes spot-2-color-shift-remove {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes spot-2-color-shift-remove {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100svh;
  width: 100vw;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 2;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: 4px;
  scrollbar-color: #005cb7 transparent;
}
.parallax-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: auto;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  gap: 32px;
  padding: 48px;
  background-image: url("https://images.pexels.com/photos/2880755/pexels-photo-2880755.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 48px 48px 0 0;
}
.header-holder {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100svh;
  width: 100vw;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  z-index: 2;
}
.header-holder h1 {
  font-weight: 500;
  font-size: calc(0.5vw + 2em);
}
.brand {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.brand svg {
  height: auto;
  width: 220px;
  fill: #0080FF;
}
.easter-egg-animation svg {
  width: 300px;
  -webkit-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}
.easter-egg-animation h1,
.easter-egg-animation h2 {
  opacity: 0%;
  display: none;
  -webkit-transition: opacity 1s ease-in-out, display 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out, display 1s ease-in-out;
  transition: opacity 1s ease-in-out, display 1s ease-in-out;
}
.easter-egg-animation path {
  -webkit-animation: loop 4.2s infinite ease-in-out;
  animation: loop 4.2s infinite ease-in-out;
}
.easter-egg-animation path:nth-child(7) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.easter-egg-animation path:nth-child(6) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.easter-egg-animation path:nth-child(5) {
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}
.easter-egg-animation path:nth-child(1) {
  -webkit-animation-delay: 2.4s;
  animation-delay: 2.4s;
}
.easter-egg-animation path:nth-child(2) {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.easter-egg-animation path:nth-child(3) {
  -webkit-animation-delay: 3.6s;
  animation-delay: 3.6s;
}
.easter-egg-animation path:nth-child(4) {
  -webkit-animation-delay: 4.2s;
  animation-delay: 4.2s;
}
@-webkit-keyframes loop {
  0% {
    fill: #0080FF;
    stroke: transparent;
    stroke-width: 0px;
    -webkit-filter: blur(0px) brightness(100%);
    filter: blur(0px) brightness(100%);
  }
  50% {
    fill: transparent;
    stroke: #0080FF;
    stroke-width: 8px;
    -webkit-filter: blur(2px) brightness(20%);
    filter: blur(2px) brightness(20%);
  }
  100% {
    fill: #0080FF;
    stroke: transparent;
    stroke-width: 0px;
    -webkit-filter: blur(0px) brightness(100%);
    filter: blur(0px) brightness(100%);
  }
}
@keyframes loop {
  0% {
    fill: #0080FF;
    stroke: transparent;
    stroke-width: 0px;
    -webkit-filter: blur(0px) brightness(100%);
    filter: blur(0px) brightness(100%);
  }
  50% {
    fill: transparent;
    stroke: #0080FF;
    stroke-width: 8px;
    -webkit-filter: blur(2px) brightness(20%);
    filter: blur(2px) brightness(20%);
  }
  100% {
    fill: #0080FF;
    stroke: transparent;
    stroke-width: 0px;
    -webkit-filter: blur(0px) brightness(100%);
    filter: blur(0px) brightness(100%);
  }
}
.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  gap: 72px;
  top: 50%;
  left: 50%;
  rotate: 90deg;
  -webkit-transform: translateY(calc(30px * 1.5));
  -ms-transform: translateY(calc(30px * 1.5));
  transform: translateY(calc(30px * 1.5));
  height: 30px;
  width: 100vw;
}
.links p {
  cursor: pointer;
  height: 50px;
  padding-top: calc(30px / 2);
  padding-left: calc(30px / 3);
  letter-spacing: 0.5em;
  font-size: calc(1vh + 0.3em);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.links p:hover {
  -webkit-transform: translate(0%, 30%);
  -ms-transform: translate(0%, 30%);
  transform: translate(0%, 30%);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.links i {
  display: none;
  padding-bottom: 32px;
  cursor: pointer;
  font-size: 1.5rem;
  -webkit-transform: scale(100%);
  -ms-transform: scale(100%);
  transform: scale(100%);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.links i:hover,
.links i:focus-visible,
.links i:active {
  -webkit-transform: scale(120%);
  -ms-transform: scale(120%);
  transform: scale(120%);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.links i:focus-visible,
.links i:active {
  -webkit-transform: scale(150%);
  -ms-transform: scale(150%);
  transform: scale(150%);
}
@media only screen and (max-width: 600px) {
  .links {
    rotate: 0deg;
    left: 50%;
    top: 100%;
    -webkit-transform: translate(-50%, -120%);
    -ms-transform: translate(-50%, -120%);
    transform: translate(-50%, -120%);
    padding-bottom: 32px;
  }
  .links p {
    display: none;
  }
  .links i {
    display: block;
  }
}
.light-header {
  width: 100%;
  text-align: start;
  font-weight: 400;
  font-size: 1.8rem;
}
.project-holder {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 32px;
}
.project-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
  height: 356px;
  min-width: 200px;
  padding: 16px;
  border-radius: 24px;
  -webkit-backdrop-filter: blur(32px);
  backdrop-filter: blur(32px);
  border: rgba(255, 255, 255, 0.2) 2px solid;
  overflow: hidden;
  -webkit-box-flex: auto;
  -ms-flex-positive: auto;
  flex-grow: auto;
  gap: 16px;
  -webkit-transition: -webkit-flex-basis 1s 0.5s ease-in-out;
  transition: -webkit-flex-basis 1s 0.5s ease-in-out;
  -o-transition: flex-basis 1s 0.5s ease-in-out;
  transition: flex-basis 1s 0.5s ease-in-out;
  transition: flex-basis 1s 0.5s ease-in-out, -webkit-flex-basis 1s 0.5s ease-in-out, -ms-flex-preferred-size 1s 0.5s ease-in-out;
  cursor: pointer;
}
.project-card .project-logo {
  max-height: auto;
  max-width: auto;
  -webkit-transform: scale(120%);
  -ms-transform: scale(120%);
  transform: scale(120%);
  background: #00AAFF;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(90%, transparent));
  -webkit-mask-image: linear-gradient(black, transparent 90%);
  mask-image: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(90%, transparent));
  mask-image: linear-gradient(black, transparent 90%);
  -webkit-transition: max-height 1s ease-in-out, max-width 1s ease-in-out, margin 1s ease-in-out, border-radius 1s ease-in-out, -webkit-mask-image 1s ease-in-out, -webkit-transform 1s ease-in-out;
  transition: max-height 1s ease-in-out, max-width 1s ease-in-out, margin 1s ease-in-out, border-radius 1s ease-in-out, -webkit-mask-image 1s ease-in-out, -webkit-transform 1s ease-in-out;
  -o-transition: max-height 1s ease-in-out, max-width 1s ease-in-out, mask-image 1s ease-in-out, transform 1s ease-in-out, margin 1s ease-in-out, border-radius 1s ease-in-out;
  transition: max-height 1s ease-in-out, max-width 1s ease-in-out, mask-image 1s ease-in-out, transform 1s ease-in-out, margin 1s ease-in-out, border-radius 1s ease-in-out;
  transition: max-height 1s ease-in-out, max-width 1s ease-in-out, mask-image 1s ease-in-out, transform 1s ease-in-out, margin 1s ease-in-out, border-radius 1s ease-in-out, -webkit-mask-image 1s ease-in-out, -webkit-transform 1s ease-in-out;
}
.project-card .collapsed-title {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -120%);
  -ms-transform: translate(-50%, -120%);
  transform: translate(-50%, -120%);
  font-size: 1.3rem;
  opacity: 100%;
  -webkit-transition: top 0.8s ease-in-out;
  -o-transition: top 0.8s ease-in-out;
  transition: top 0.8s ease-in-out;
}
.project-card .info {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 16px;
  opacity: 0%;
  top: -50%;
  -webkit-transition: opacity 1s ease-in-out, top 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out, top 1s ease-in-out;
  transition: opacity 1s ease-in-out, top 1s ease-in-out;
}
.project-card .info p:nth-child(2) {
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}
.project-card .info p:nth-child(3) {
  font-weight: 600;
}
.project-card .info .button {
  border-radius: 10px;
}
@media only screen and (max-width: 700px) {
  .project-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .project-card {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 400px;
    -webkit-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
  }
  .project-card .project-logo {
    height: 100px;
    max-width: 100%;
    border-radius: 16px;
    -webkit-mask-image: unset;
    mask-image: unset;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    margin: 28px / 2;
    -webkit-transition: max-height 1s ease-in-out, max-width 1s ease-in-out, margin 1s ease-in-out, border-radius 1s ease-in-out, -webkit-mask-image 1s ease-in-out, -webkit-transform 1s ease-in-out;
    transition: max-height 1s ease-in-out, max-width 1s ease-in-out, margin 1s ease-in-out, border-radius 1s ease-in-out, -webkit-mask-image 1s ease-in-out, -webkit-transform 1s ease-in-out;
    -o-transition: max-height 1s ease-in-out, max-width 1s ease-in-out, mask-image 1s ease-in-out, transform 1s ease-in-out, margin 1s ease-in-out, border-radius 1s ease-in-out;
    transition: max-height 1s ease-in-out, max-width 1s ease-in-out, mask-image 1s ease-in-out, transform 1s ease-in-out, margin 1s ease-in-out, border-radius 1s ease-in-out;
    transition: max-height 1s ease-in-out, max-width 1s ease-in-out, mask-image 1s ease-in-out, transform 1s ease-in-out, margin 1s ease-in-out, border-radius 1s ease-in-out, -webkit-mask-image 1s ease-in-out, -webkit-transform 1s ease-in-out;
  }
  .project-card .collapsed-title {
    top: 140%;
    -webkit-transition: top 0.8s ease-in-out;
    -o-transition: top 0.8s ease-in-out;
    transition: top 0.8s ease-in-out;
  }
  .project-card .info {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media only screen and (max-width: 1200px) {
  .project-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .project-card {
    width: 100%;
    height: 300px;
    -webkit-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
  }
  .project-card .project-logo {
    max-height: 300px / 16px;
    border-radius: 8px;
    -webkit-mask-image: unset;
    mask-image: unset;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: max-height 1s ease-in-out, max-width 1s ease-in-out, margin 1s ease-in-out, border-radius 1s ease-in-out, -webkit-mask-image 1s ease-in-out, -webkit-transform 1s ease-in-out;
    transition: max-height 1s ease-in-out, max-width 1s ease-in-out, margin 1s ease-in-out, border-radius 1s ease-in-out, -webkit-mask-image 1s ease-in-out, -webkit-transform 1s ease-in-out;
    -o-transition: max-height 1s ease-in-out, max-width 1s ease-in-out, mask-image 1s ease-in-out, transform 1s ease-in-out, margin 1s ease-in-out, border-radius 1s ease-in-out;
    transition: max-height 1s ease-in-out, max-width 1s ease-in-out, mask-image 1s ease-in-out, transform 1s ease-in-out, margin 1s ease-in-out, border-radius 1s ease-in-out;
    transition: max-height 1s ease-in-out, max-width 1s ease-in-out, mask-image 1s ease-in-out, transform 1s ease-in-out, margin 1s ease-in-out, border-radius 1s ease-in-out, -webkit-mask-image 1s ease-in-out, -webkit-transform 1s ease-in-out;
  }
  .project-card .collapsed-title {
    top: 140%;
    -webkit-transition: top 0.8s ease-in-out;
    -o-transition: top 0.8s ease-in-out;
    transition: top 0.8s ease-in-out;
  }
  .project-card .info {
    opacity: 100%;
    -webkit-transition: opacity 1s 0.8s ease-in-out;
    -o-transition: opacity 1s 0.8s ease-in-out;
    transition: opacity 1s 0.8s ease-in-out;
  }
  .project-card .info p {
    font-size: 0.9rem;
  }
  .project-card .info h2 {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1200px) {
  .project-card {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
  }
  .active {
    -webkit-transition: -webkit-flex-basis 1s ease-in-out;
    transition: -webkit-flex-basis 1s ease-in-out;
    -o-transition: flex-basis 1s ease-in-out;
    transition: flex-basis 1s ease-in-out;
    transition: flex-basis 1s ease-in-out, -webkit-flex-basis 1s ease-in-out, -ms-flex-preferred-size 1s ease-in-out;
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
  }
  .active .project-logo {
    border-radius: 8px;
    -webkit-mask-image: unset;
    mask-image: unset;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: max-height 1s ease-in-out, max-width 1s ease-in-out, margin 1s ease-in-out, border-radius 1s ease-in-out, -webkit-mask-image 1s ease-in-out, -webkit-transform 1s ease-in-out;
    transition: max-height 1s ease-in-out, max-width 1s ease-in-out, margin 1s ease-in-out, border-radius 1s ease-in-out, -webkit-mask-image 1s ease-in-out, -webkit-transform 1s ease-in-out;
    -o-transition: max-height 1s ease-in-out, max-width 1s ease-in-out, mask-image 1s ease-in-out, transform 1s ease-in-out, margin 1s ease-in-out, border-radius 1s ease-in-out;
    transition: max-height 1s ease-in-out, max-width 1s ease-in-out, mask-image 1s ease-in-out, transform 1s ease-in-out, margin 1s ease-in-out, border-radius 1s ease-in-out;
    transition: max-height 1s ease-in-out, max-width 1s ease-in-out, mask-image 1s ease-in-out, transform 1s ease-in-out, margin 1s ease-in-out, border-radius 1s ease-in-out, -webkit-mask-image 1s ease-in-out, -webkit-transform 1s ease-in-out;
  }
  .active .collapsed-title {
    top: 140%;
    -webkit-transition: top 0.8s ease-in-out;
    -o-transition: top 0.8s ease-in-out;
    transition: top 0.8s ease-in-out;
  }
  .active .info {
    opacity: 100%;
    -webkit-transition: opacity 1s 0.8s ease-in-out;
    -o-transition: opacity 1s 0.8s ease-in-out;
    transition: opacity 1s 0.8s ease-in-out;
  }
}
.mission-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: auto;
  min-height: 500px;
  gap: 96px;
  padding: 32px;
  padding-top: 64px;
  padding-bottom: 64px;
  background: black;
  overflow: hidden;
}
.mission-holder .backdrop-logo {
  position: absolute;
  height: calc(15vw + 500px);
  width: calc(15vw + 500px);
  left: 0%;
  top: 100%;
  -webkit-transform: translate(-40%, -70%);
  -ms-transform: translate(-40%, -70%);
  transform: translate(-40%, -70%);
}
.mission-holder .backdrop-logo svg {
  fill: rgba(255, 255, 255, 0.1) !important;
  height: 100%;
  width: 100%;
}
.mission-holder h1 {
  letter-spacing: 0.8em;
  margin-right: -0.8em;
  font-weight: 400;
  font-size: calc(1vw + 1em);
}
.mission-holder section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 8px;
  z-index: 3;
}
@media only screen and (max-width: 1200px) {
  .mission-holder section {
    width: 80%;
  }
}
@media only screen and (max-width: 700px) {
  .mission-holder section {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .mission-holder section {
    width: 60%;
  }
}
.mission-holder section:nth-child(2) {
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.bottom-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100vw;
  height: auto;
  padding: 32px;
  gap: 16px;
  border-radius: 0px 0px 48px 48px;
  background-color: white;
}
.bottom-card p:nth-child(1) {
  color: black;
  letter-spacing: 0.2em;
}
.bottom-card .bottom-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  width: 95%;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
}
@media only screen and (min-width: 1200px) {
  .bottom-card .bottom-card-container {
    gap: 32px;
    width: 80%;
  }
}
.bottom-card .bottom-card-container section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  scroll-snap-align: start;
}
@media only screen and (max-width: 1200px) {
  .bottom-card .bottom-card-container section {
    min-width: 50%;
  }
}
@media only screen and (max-width: 700px) {
  .bottom-card .bottom-card-container section {
    min-width: 100%;
  }
}
.bottom-card .bottom-card-container .extra-project-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
  background-color: #0080FF;
  padding: 16px;
  border-radius: 20px;
  height: 80px;
  width: 300px;
}
@media only screen and (max-width: 1200px) {
  .bottom-card .bottom-card-container .extra-project-card {
    margin: 16px;
  }
}
.bottom-card .bottom-card-container .extra-project-card p {
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}
.bottom-card .bottom-card-container .extra-project-card img {
  height: 50px;
  width: 50px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}
.bottom-card .bottom-card-container .extra-project-card i {
  cursor: pointer;
  font-size: 1.5em;
}
