extends ../layouts/default-layout.pug
block content
  .background
    .spot
    .spot-2

  .content
    include ../sections/header-holder
            
    .parallax-card

      include ../sections/highlighted-projects

      .separator-medium
      .space-medium

      include ../sections/mission
      .scroll-offset-view
        include ../sections/team

    div.horizontal-flex.center-cross(style="min-height: 20vh;")#footer
      h1 BlissLabs
