extends ../layouts/default-layout.pug
block content
  .main
    .background
      .spot
      .spot-2

    .content
      include ../sections/header-holder
      
      .parallax-card
        include ../sections/highlighted-projects