extends ../layouts/default-layout.pug
block content
  .background-img

  .content
    include ../sections/header-holder
            
    .parallax-card

      include ../sections/highlighted-projects

      .space-medium

      include ../sections/mission
      .scroll-offset-view
        include ../sections/team
            
    include ../partials/footer.pug
 
  script(src="./assets/js/index.js")
