extends ../layouts/default-layout.pug
block content
  .background-img

  .content
    include ../sections/header-holder
            
    .parallax-card

      include ../sections/highlighted-projects

      .separator-medium
      .space-medium

      include ../sections/mission
      .scroll-offset-view
        include ../sections/team
        
    //- Due to extra stuff happening in the page
    include ../partials/footer.pug
