.header-holder {

    .vertical-flex;
    .center-flex;
    .fill-viewport;

    flex-shrink: 0;
    position: relative;
    z-index: 2;

    h1 {
        font-weight: 500;
        font-size: calc(.5vw + 2em);
    }

}

.brand {

    .center-transform;
    .center-flex;
    .vertical-flex;

    svg {

        height: auto;
        width: 220px;

        fill: @brand-main;

    }
    
}    

.easter-egg-animation {

    svg {
        width: 300px;
        transition: width @transition-default;
    }

    h1, h2 {
        opacity: 0%;
        display: none;
        transition: opacity @transition-default, display @transition-default;
    }

    path {

        @path-delay-step: .6s;

        animation: loop @path-delay-step*7 infinite ease-in-out;

        &:nth-child(7) {
            animation-delay: @path-delay-step * 1;
        }
        &:nth-child(6) {
            animation-delay: @path-delay-step * 2;
        }
        &:nth-child(5) {
            animation-delay: @path-delay-step * 3;
        }
        &:nth-child(1) {
            animation-delay: @path-delay-step * 4;
        }
        &:nth-child(2) {
            animation-delay: @path-delay-step * 5;
        }
        &:nth-child(3) {
            animation-delay: @path-delay-step * 6;
        }
        &:nth-child(4) {
            animation-delay: @path-delay-step * 7;
        }
    }

    @keyframes loop {

        0% {

            fill: @brand-main;
            stroke: transparent;
            stroke-width: 0px;
            filter: blur(0px) brightness(100%);
            
        }

        50% {

            fill: transparent;
            stroke: @brand-main;
            stroke-width: 8px;
            filter: blur(2px) brightness(20%);

        }

        100% {

            fill: @brand-main;
            stroke: transparent;
            stroke-width: 0px;
            filter: blur(0px) brightness(100%);
        
        }       
        
    }
}

@link-item-height: 30px;

.header-links {

    .horizontal-flex;
    .center-main;

    position: absolute;

    gap: @gap-large * 1.5;

    top: 50%;
    left: 50%;
    rotate: 90deg;
    transform: translateY(calc(@link-item-height));

    height: calc(@link-item-height * 1.5);

    line-height: calc(@link-item-height * 1.5);
    text-align: center;

    width: 100vw;

    @media only screen and(max-height: 500px) {
        rotate: 0deg;
        left: 50%;
        top: 100%;
        transform: translate(-50%, calc(-100% - 30px));
        padding-bottom: @gap-default;
    }

    // => Vertical text
    span {   
        cursor: pointer;

        display: inline-block;

        padding-left: calc(@link-item-height / 3);

        letter-spacing: .5em;
        font-size: calc(1vh + .3em);

        transition: transform .2s ease-in-out;

        &:hover {
            transform: translate(0%, 30%);
            transition: transform .2s ease-in-out;
        }
    }


    // => Horizontal Icons
    i {
        display: none;
        padding-bottom: @gap-default;

        cursor: pointer;

        font-size: 1.5rem;

        transform: scale(100%);
        transition: transform .2s ease-in-out;

        &:hover, &:focus-visible, &:active {
            transform: scale(120%);
            transition: transform .2s ease-in-out;
        }

        &:focus-visible, &:active {
            transform: scale(150%);
        }     

    }
}

.breakpoint(small, {

    .header-links {
        rotate: 0deg;
        left: 50%;
        top: 100%;
        transform: translate(-50%, calc(-100% - 30px));
        padding-bottom: @gap-default;
        
        span {
            display: none;
        }

        i {
            display: block;
        }
    }

    .separator-medium[id=for-header] {

        display: block !important;
        position: absolute;
    
        height: 4px;
    
        left: 50%;
        top: 100%;
        transform: translate(-50%, calc(-100% - 8px));
    }
    
    
});
        
.separator-medium[id=for-header] {
    display: none;
}
