.mission-holder {

    .vertical-flex;
    .center-cross;
    .center-main;
    
    position: relative;

    width: 100vw;
    height: auto;
    min-height: 500px;

    gap: @gap-large * 2;
    padding: @padding-default;

    padding-top: @padding-default * 2;
    padding-bottom: @padding-default * 2;

    background: black;

    overflow: hidden;
    
    .backdrop-logo {

        position: absolute;

        height: calc(15vw + 500px);
        width: calc(15vw + 500px);

        left: 0%;
        top: 100%;

        transform: translate(-40%, -70%);

        svg { fill: fade(white, 10%) !important; height: 100%; width: 100%; }

    }

    h1 {
        letter-spacing: .8em;
        margin-right: -.8em;
        font-weight: 400;
        font-size: calc(1vw + 1em);
    }

    section {

        .vertical-flex;
        gap: 8px;
        z-index: 3;

        @media only screen and (max-width: @breakpoint-medium) {
            width: 80%;
        }

        @media only screen and (max-width: @breakpoint-small) {
            width: 100%;
        }

        @media only screen and (min-width: @breakpoint-medium) {
            width: 60%;
        }

        &:nth-child(2) {
            align-self: flex-end;
        }

    }

}

.bottom-card {

    .vertical-flex;
    .center-cross;
    .center-main;

    position: relative;

    width: 100vw;
    height: auto;

    padding: @padding-default;
    gap: @gap-small;
    
    border-radius: 0px 0px @border-auto @border-auto;

    background-color: white;

    p:nth-child(1) {
        color: black;
        letter-spacing: .2em;
        
    }

    .scroller-layout {

        position: relative;
        .vertical-flex;
        .center-cross;
        .center-main;

        width: 100%;
        height: 100%;

        border-radius: @border-auto - 8px;
        overflow: hidden;


        @media only screen and (max-width: @breakpoint-medium) {
            width: 95%;
        }
        @media only screen and (min-width: @breakpoint-medium) {
            gap: @gap-default;
            width: 80%;
        }

        .arrow-container {

            position: absolute;

            height: 100%;
            width: 100%;
            z-index: 3;

            .horizontal-flex;
            .center-cross;

            .arrow {
                display: flex;
                height: 100%;
                width: 48px;
                cursor: pointer;

                i {
                    margin: auto;

                    font-size: 1.5em;
                    font-weight: 600;
                    color: darken(white, 5%);


                }
                
                
            }
            .arrow-left {
                .arrow;
                background: fade(@brand-main, 60%);

            }

            .space {
                flex-grow: 2;
            }

            .arrow-right {
                .arrow;
                background: fade(@brand-main, 60%);
            }

        }

        .extra-projects-container {

            .horizontal-flex;
            .center-cross;
            align-items: flex-start;
            flex: 0;
    
            width: 100%;
            overflow-x: hidden;
            scrollbar-color: transparent transparent;
    
            @media only screen and (min-width: @breakpoint-medium) {
                gap: @gap-default;
            }
    
            scroll-snap-type: x mandatory;
    
            // Helps it snap to place when scrolled
            section {
                
                .horizontal-flex;
                .center-main;
    
                scroll-snap-align: start;
    
                @media only screen and (max-width: @breakpoint-medium) {
                    min-width: 50%;
                }
                @media only screen and (max-width: @breakpoint-small) {
                    min-width: 100%;
                }
    
            }
    
            // Project card item
            .extra-project-card {
    
                .horizontal-flex;
                .center-cross;
    
                gap: @gap-small;
        
                margin: @margin-small;
    
                background-color: @brand-main;
                padding: @padding-small;
        
                border-radius: 20px;
        
                width: 300px;
                
    
                p {
                    flex-grow: 2;
                }
    
                img {
                    
                    height: 50px;
                    width: 50px;
                    
                    object-fit: cover;
    
                    border-radius: 50%;
                }
    
                i {
                    cursor: pointer;
                    font-size: 1.5em;
                }
                
            }
    
        }

    }



}