// || LOCAL VARIABLES

// => Sroller Arrow Control
@arrow-background: fade(black, 60%);
@arrow-size: 48px;
@arrow-icons-color: white;
@arrow-icons-size: 1.5em;


// => Extra-Project Cards
@extra-project-card-height: 300px;
@extra-project-card-width: 300px;
@extra-project-card-border: 20px;

@extra-project-card-information-height: 70px;
@extra-project-card-information-bg: black;

@extra-project-card-logo: 48px;

@extra-project-card-icons-color: white;
@extra-project-card-icons-size: 1.5em;


// => FULL WIDTH CONTAINER
.mission-holder {

    .vertical-flex;
    .center-cross;
    .center-main;
    
    position: relative;

    width: 100vw;
    height: auto;
    min-height: 500px;

    gap: @gap-large * 2;
    padding: @padding-default;

    padding-top: @padding-default * 2;
    padding-bottom: @padding-default * 2;

    background: black;

    overflow: hidden;



    .backdrop-logo {

        position: absolute;

        height: calc(15vw + 500px);
        width: calc(15vw + 500px);

        left: 0%;
        top: 100%;

        transform: translate(-40%, -70%);

        svg { fill: fade(white, 15%) !important; height: 100%; width: 100%; }

    }

    section {

        .vertical-flex;
        gap: 8px;
        z-index: 3;
        width: 60%;

        &:nth-child(2) {
            align-self: flex-end;
        }

        .breakpoint(medium, {
            width: 80%;

        });

        .breakpoint(small, {
            width: 100%;

        });
        

    }

}

// || MISSION
.mission-holder {
    
    &_head {

        border-radius: @border-auto @border-auto 0 0;

        background: darken(@brand-main, 5%); // FIX: contrast for white text
        min-height: 0;

        gap: @gap-small;

        padding-inline: 10%;

        .button {
            width: 70%;
        }

        h3 {
            text-wrap: balance;
        }
    }

    &_transparency {

        
        .horizontal-flex;

        background-image: url("../images/section-bg-1.webp");
        background-size: cover;

        h1 {
            color: white;
        }

        &_overcard {

            .vertical-flex;
            .center-main;

            gap: @gap-default;
            padding-inline-end: @padding-default;

            align-items: flex-end;

            position: absolute;

            height: 50%;
            width: 100%;

            top: 50%;
            left: 0%;
            
            background-color: fade(black, 70%);

            .breakpoint(large, {

                height: 100%;
                width: 50%;
                
                top: unset;
                left: unset;
                right: 0%;

            });

            p {
                width: 80%;
            }
            
        }

    }

}


// || EXTRA PROJECTS
.arrow-container {

    position: absolute;

    height: 100%;
    width: 100%;
    z-index: 3;

    .horizontal-flex;
    .center-cross;

    #extra-project-left {
        left: 0%;
    }

    #extra-project-right {
        right: 0%;
    }
    .arrow {
        
        position: absolute;
        display: grid;
        place-items: center;

        mix-blend-mode: difference;

        background: @arrow-background;

        height: @arrow-size;
        width: @arrow-size;

        border-radius: 50%;

        .link;

        i {
            margin: auto;
            font-size: @arrow-icons-size;
            font-weight: 600;
            color: darken(@arrow-icons-color, 5%);
        }
      
    
    }


}

// => Project card item
.extra-project-card {
    .horizontal-flex;
    align-items: flex-end;
    gap: @gap-small;

    position: relative;

    margin: @margin-small;

    background-image: url("../images/project_placeholder.webp");
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: @extra-project-card-border;
    overflow: hidden;

    width: @extra-project-card-width;
    height: @extra-project-card-height;

    p {
        width: 80%;
        font-size: .8em;

        position: absolute;
        top: 10%;
        left: 50%;

        transform: translate(-50%, 0%);

    }

    .information {

        .horizontal-flex;
        .center-cross;

        height: @extra-project-card-information-height;
        width: 100%;

        gap: @gap-small;
        
        background-color: @extra-project-card-information-bg;
        padding: @padding-small;

        z-index: 4;
                        

        span {
            flex-grow: 2;
        }

        img {
            
            height: @extra-project-card-logo;
            width: @extra-project-card-logo;
            
            object-fit: cover;

            border-radius: 50%;
        }

        i {
            color: @extra-project-card-icons-color;
            font-size: @extra-project-card-icons-size;
        }

    }
    
}

.extra-projects-container {

    .horizontal-flex;
    .center-cross;

    align-items: flex-start;
    flex: 0;

    width: 100%;

    overflow-x: hidden;
    scrollbar-color: transparent transparent;
    scroll-snap-type: x mandatory;

    .breakpoint(large, {
        gap: @gap-default;
        width: 90%;
    });

    // Helps it snap to place when scrolled
    section {
        
        .horizontal-flex;
        .center-main;

        min-width: 32%;

        scroll-snap-align: start;

        .breakpoint(medium;
            {
                min-width: 50%;
            }
        );

        .breakpoint(small;
            {
                min-width: 100%;
            }
        );

    }

}

// => Rounded card effect
.bottom-card {

    .vertical-flex;
    .center-cross;
    .center-main;

    position: relative;

    width: 100vw;
    height: auto;

    margin-bottom: @margin-large;
    padding: @padding-default;
    gap: @gap-small;
    
    border-radius: 0px 0px @border-auto @border-auto;

    background-color: white;

    span:nth-child(1) {
        letter-spacing: .2em;
    }


    .scroller-layout {

        position: relative;
        .vertical-flex;
        .center-cross;
        .center-main;

        width: 100%;
        height: 100%;

        border-radius: @border-auto - 8px;
        overflow: hidden;


        .breakpoint(medium, {
            width: 100%;
        });

        .breakpoint(large, {
            gap: @gap-default;
            width: 90%;
        });


    }



}