.header-holder {

    .vertical-flex;
    .center-flex;
    .fill-viewport;

    flex-shrink: 0;
    position: relative;
    z-index: 2;

    h1 {
        font-size: calc(.5vw + 2em);
    }

}

.brand {

    .center-transform;
    .center-flex;
    .vertical-flex;

    img {
        height: auto;
        width: 200px;
    }
    
}    


.links {

    .horizontal-flex;
    justify-content: center;

    position: absolute;

    gap: @gap-default;

    top: 50%;
    left: 50%;
    rotate: 90deg;
    transform: translateY(60px);

    height: 30px;
    width: 100vw;


    p {   
        cursor: pointer;
        letter-spacing: .6em;
        font-size: calc(1vh + .3em);
        transition: transform .2s ease-in-out;

        &:hover {
            transform: translate(0%, 30%);
            transition: transform .2s ease-in-out;
        }
    }

    i {
        display: none;
        padding-bottom: @gap-default;
        cursor: pointer;

        font-size: 1.5rem;

        transform: scale(100%);
        transition: transform .2s ease-in-out;

        &:hover, &:focus-visible, &:active {
            transform: scale(120%);
            transition: transform .2s ease-in-out;
        }

        &:focus-visible, &:active {
            transform: scale(150%);
        }

        
        

    }
}

@media only screen and (max-width: 600px ) {

    .links {
        rotate: 0deg;
        left: 50%;
        top: 100%;
        transform: translate(-50%, -120%);
        padding-bottom: @gap-default;
        
        p {
            display: none;
        }

        i {
            display: block;
        }
    }
    
}
            
