
// || TEAM MEMBERS
.scroll-offset-view {
    .vertical-flex;
    .center-cross;
    .fill-width;

    gap: @gap-default;
    
}

.sticky-holder {
    top: 10%;
    position: sticky;
    width: 100vw;

    h2 {
        width: 100%;
        justify-self: center
    }

}

.member-card-grid {

    .horizontal-flex;
    .center-cross;
  
    width: 0vw;

    justify-content: flex-start;
    
    margin-block: @margin-default * 2;
    padding-inline: 20vw;

    gap: @gap-very-small;

    .breakpoint(large, {
        padding-inline-start: 70%;
    });
        
    .member-card {

        position: relative;

        flex-shrink: 0;

        height: 300px;
        width: 200px;

        overflow: hidden;

        background-color: black;

        border-radius: 4px;


        .vertical-flex {
            position: absolute;
            bottom: 0%;
            transform: translate(0%, -20%);
        }

        img {
            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);

            height: 100%;

            mask-image: linear-gradient(black 60%, transparent);

        }

        span {
            font-size: .8em;
            text-align: center;
            word-break: keep-all;
            word-wrap: normal;
            width: 80%;
        }

        // First and last elements having their corners cut to match with the soft edge design
        &:nth-child(1) {
            border-radius: calc(@border-auto / 2) 4px 4px calc(@border-auto / 2);

            .breakpoint(small, {
                margin-left: 40vw;
            });

        }

        &:nth-last-child(1) {
            border-radius: 4px calc(@border-auto / 2) calc(@border-auto / 2) 4px;
        }
    
    }


}

// => Vertical space filler
.member-filler-div {
    width: 100vw;
}


// || CONTRIBUTE - JOIN, PROJECTS
.contribute {

    .fill-width;
    .vertical-flex;
    .center-cross;
    
    gap: @gap-very-small;
    


    @radius_mini: 16px;
    @radius_max: 48px;

    &_outreach {

        background-image: linear-gradient(to right, black 50%, @brand-main 0%);
        background-size: 200% 100%;
        background-position: 100% 0%;

        transition: @transition-sub-step_-mid;

        .description-group {
            align-items: flex-end;
        }

        .description-group, .spaced-header {
            transition: @transition-sub-step_-mid;
        }
        &:hover .description-group, &:hover .spaced-header {
            margin-right: 5% !important;
            transition: @transition-sub-step_-mid;
        }

        &:hover {
            background-position: 0% 0%;
            transition: @transition-sub-step_-mid;
        }

        align-items: flex-end !important;
        padding-right: 10%;


    }

    section {

        .vertical-flex;
        .center-cross;

        padding: @padding-default;
        padding-block: @padding-default * 2;

        border-radius: @radius_mini;
        background-color: fade(#06101B, 70%);

        gap: @gap-default;



        &:nth-child(1) {
            border-radius: @radius_max @radius_max @radius_mini @radius_mini;
        }

        &:nth-last-child(1) {
            border-radius: @radius_mini @radius_mini @radius_max @radius_max;

        }
        .breakpoint(small, {

            width: 100vw;
            border-radius: 0 !important;
            //backdrop-filter: if((@enable-effects-mobile), blur(@project-card-blur), none);
            
        });
    }



}

.description-group {

    .vertical-flex;

    width: 60%;

    .breakpoint(medium, {

        width: 90%;
        
    });

    .breakpoint(small, {
        width: 100%;
    });

    gap: @gap-default;


    
}

.join-team {

    .horizontal-flex;

    height: auto;

    gap: @gap-default;
    
    padding-block: @padding-default;



    .breakpoint(small, {

        svg {
            flex-basis: 70%;
            min-height: 200px;
            min-width: 200px;
        }

        .description {
            flex-basis: 30%;
        }

    });

    .breakpoint(medium, {

        .vertical-flex;
        .center-cross;
        flex-direction: column-reverse;

        svg {
            max-width: 300px;

        }

    });

    .breakpoint(large, {

        .description {
            flex-basis: 70%;
        }

    });


    
    svg {
        max-height: 200px;

        fill: white;
                
        path {

            transform: translate(0%, 0%);
            transition: all .5s ease-in-out;

            filter: drop-shadow( 0 0 0 black);
            cursor: pointer;

            &:hover {
                transform: translate(0%, -15%);
                filter: drop-shadow( 2px 10px 10px black);
                transition: all .5s ease-in-out;
            }


        }

    }

}