.button {

    @button-color: white;

    background-color: @button-color;
    position: relative;

    height: 40px;
    border-radius: 6px;

    cursor: pointer;

    &:hover, &:focus {
        background-color: darken(@button-color, 10%);
    }

    &:active {
        background-color: darken(@button-color, 20%);
    }

    &:focus-visible {
        border: solid 4px @brand-main;
    }
    
    p { 
        .center-transform;
        color: black;
        font-size: 1em;
    }

    .fill-width;
}

.text-bold {
    font-weight: 600;
}

.separator-medium {

    width: 40%;
    height: 8px;

    border-radius: 8px;

    background: white;

}

.space-medium {
    height: 24px;
    widtH: 24px;
}
.scrollbar {
    scrollbar-width: 4px;
    scrollbar-color: white transparent;
}


.link {

    cursor: pointer;

    &:focus-visible {
        outline-width: 2px;
        outline-style: solid;
        outline-color: Highlight;
    }

    &:hover {
        opacity: 80%;
    }

}

.highlight {
    color: lighten(@brand-main, 5%);
    font-weight: 500;
}

.text-link {
    .link;
    text-decoration: underline;
}

// Responsive texts
h1.spaced-header {
    letter-spacing: .5em;
    margin-right: -.5em;
    margin-bottom: .5em;
    font-weight: 400;
    font-size: calc(.5vw + 1.5em);
}

h2.spaced-header {
    letter-spacing: .5em;
    margin-right: -.5em;
    font-weight: 400;
    font-size: calc(.5vw + 1em);
}

h3.spaced-header {
    letter-spacing: .35em;
    margin-right: -.45em;
    font-weight: 500;
    font-size: calc(.2vw + 1em);
}