.button {

    background-color: white;
    position: relative;

    height: 40px;
    border-radius: 6px;

    cursor: pointer;

    &:hover, &:active, &:focus {
        background-color: darken(white, 10%);
    }

    &:focus-visible {
        border: solid 4px @brand-main;
    }
    
    p { 
        .center-transform;
        color: black;
        font-size: 1em;
    }

    .fill-width;
}

.text-bold {
    font-weight: 600;
}

.separator-medium {

    width: 40%;
    height: 8px;

    border-radius: 8px;

    background: white;

}

.closing-card {

    border-radius: 0px 0px @border-auto @border-auto;

    height: 50px;
    width: 100vw;

    background-color: white;
    margin-top: calc(-@padding-default);

}

.space-medium {
    height: 24px;
    widtH: 24px;
}
