.button {

    @button-color: white;

    background-color: @button-color;
    position: relative;

    height: 40px;
    border-radius: 6px;

    transition: @transition-sub-step_-mid;

    cursor: pointer;

    &:hover, &:focus {

        border: 1px solid white;

        background-color: darken(@brand-main, 5%);
        transition: @transition-sub-step_-mid;

        p, span, i { 
            color: white;    
            transition: @transition-sub-step_-mid;
    
        }

    }

    &:active {
        background-color: darken(@brand-secondary, 20%);

        transition: @transition-sub-step_-mid;

    }

    &:focus-visible {
        border: solid 4px @brand-main;
    }
    
    p, span, i { 

        .center-transform;

        color: black;
        font-size: 1em;

        transition: @transition-sub-step_-mid;

    }

    .fill-width;

}


.text-bold {
    font-weight: 600 !important;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

// || MISC
.separator-medium {
    width: 40%;
    height: 8px;

    border-radius: 8px;

    background: white;
}

.space-medium {
    height: 24px;
    widtH: 24px;
}
.scrollbar {
    scrollbar-width: 4px;
    scrollbar-color: white transparent;
}

// => Link with visual feedback
.link {

    cursor: pointer;
    text-decoration: none;

    &:focus-visible {
        outline-width: 2px;
        outline-style: solid;
        outline-color: Highlight;
    }

    &:hover {
        opacity: 80%;
    }

}
.text-link {
    .link;
    text-decoration: underline;
}

.text-icon-link {

    .text-link;

    &:hover {
        i {
            transition: @transition-sub-step_-quick;
            margin-right: 1em;
  
        }
    }
  
    i {
        transition: @transition-sub-step_-quick;
        margin-left: 1em;
    }
  
  }

// => Brand color for texts
.highlight {
    color: lighten(@brand-main, 5%);
    font-weight: 500;
}

.color-black {
    color: black;
}

.color-white {
    color: white;
}


// || RESPONSIVE HEADERS
.spaced-header {
    text-transform: uppercase;
}
h1.spaced-header {
    letter-spacing: .4em;
    line-height: 1.5em;
    margin-right: -.4em;
    font-weight: 400;
    font-size: calc(.5vw + 1.5em);
}

h2.spaced-header {
    letter-spacing: .4em;
    line-height: 1.5em;
    margin-right: -.4em;
    font-weight: 400;
    font-size: calc(.5vw + 1em);
}

h3.spaced-header {
    letter-spacing: .35em;
    line-height: 1.35em;
    margin-right: -.45em;
    font-weight: 500;
    font-size: calc(.2vw + 1em);
}

// EXPERIMENTAL
.parallax-float {
    --float-index: 1;
    translate: 0 calc( var(--scroll-factor) * -60px * var(--float-index) ) !important;
}